@font-face{
font-family: pokemon;
src: url('Pokemon Hollow.ttf');
font-weight: bold;}

@font-face{
font-family: pokemonSolid;
src: url('Pokemon Solid.ttf');
}


body{
	background-color : aquamarine;
	font-family : pokemonSolid, arial;
	
}

#banniere{
	background-image : url('banniere.png');
	text-align : center;
	background-size : 100vw;
	height : 15vw;	
}

h1{	
	color : white;
	font-size : 3em;
	font-family : pokemon, arial;
	
}